.intro{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: salmon;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.nosotros-parrafo, .tercer-parrafo{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: salmon;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}
